<!--using {{}} double-curly brackets we can access what we have in out component-->
<!--Referred to as interpolation-->

<app-nav-bar></app-nav-bar>

<div class="container" style="margin-top: 140px;">
    <h1>Welcome to {{title}}</h1>
    <ul>
        <!-- loop over product array we have in component -->
        <!--ngFor is a structural Directive. These can add/remove object from DOM-->
        <li class="list-unstyled" *ngFor="let product of products">
            {{product.name}}
        </li>
    </ul>
</div>
